{% extends "layout.html" %}

{% set title = "Home page" %}

{% block content %}
    <h1>Todo List</h1>
    {% for todo in todos %}
        <div class="card p-1 m-3">
            <div class="card-body">
                {% if todo.completed == "True" %}
                    <h5 class="card-title text-decoration-line-through">{{ todo.title }}</h5>
                {% else %}
                    <h5 class="card-title">{{ todo.title }}</h5>
                {% endif %}

                <p class="card-text text-muted">{{ todo.date_created }}</p>
                <p class="card-text">{{ todo.description }}</p>

                <a href="{{ url_for('update', id=todo._id) }}" class="btn btn-outline-primary btn-sm">Update</a>
                <a href="{{ url_for('delete', id=todo._id) }}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
